.option_teacher{
    display: flex;
    justify-content: space-between;
}

.count_exam{
   display: flex;
   color: green;
   font-size: 20px;
}
.ex_room_item{
    font-size: 20px;
    color: green;
    margin-bottom: 15px;
    display: flex;
}
.time_start_begin ,.time_start_end{
    display: flex;
}
.time_start_end{
    margin-top: 10px;
}
.teacher_exam{
    margin-bottom: 10px;
    display: flex;
}