.image_kma{
  width: 40px !important;
  height: 100%;
}
.content{
  height: auto;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger{
  min-width: 250px !important;
  max-width: 250px !important;
}
.float-link {
  display: flex;
  // justify-content: space-between;
  padding: 0 5px;
}

.flexLink{
  // justify-content: space-between;
  padding: 0px 10px;
  display: flex;
  
}
.active .flexLink{

  background-color: #1677ff;
  border-radius: 10px;
}

.text_link {
  margin-left: 10px;
}
.animation_noti{
  font-weight: bold;
  font-size: 20px;
  color: aqua;
  position: relative;
  animation: example 35s infinite;
}

@keyframes example {
  from { left: 0px; top:0px;}
  to { left: 100%; top:0px;}
}


@media only screen and (max-width: 1200px) {
  .scrool_x {
    overflow: scroll;
  }
}

.ant-layout-sider-trigger{
  display: none;
}